body {
    font-family: Arial, sans-serif;
    background-color: #010739;
    color: white;
}
.container h2{
    color: white;

}

.container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.edit-table th, .edit-table td {
border: 1px solid #ddd;
padding: 8px;
text-align: left;
}

.edit-table th {
background-color: rgb(247, 226, 152);
color: #010739;
text-align: center;
}

.edit-table td input {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.section-title {
    margin-top: 20px;
    color: #010739;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary {
    display: block;
    margin: 20px auto;
    color: #010739;
    background-color: rgb(247, 226, 152);
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #013809;
    color: white;
}

.btn-secondary {
    color: #010739;
    background-color: rgb(247, 226, 152);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}