
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #5d0202;
    color: white;
}

.container {
    padding: 20px;
    margin-top: 60px;
}

/* Layout for Row and Columns */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 60px;
}

.column {
    flex: 1;
    max-width: 250px;
    min-width: 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

/* Box Content Styling */
.box-content {
    background-color: #feeac2;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.box-content:hover {
    background-color: #56534cc4;
    color: aliceblue;
}

/* Image Styling within Box */
.box-content img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* Table Styling for Data Display */
.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 25px;
    margin: 0 auto;
    font-size: 18px;
    text-align: center;
    background-color: #ddd;
    color: black;
    border-radius: 8px;
    overflow: hidden;
}

.table th {
    background-color: rgb(247, 226, 152);
    color: rgb(113, 4, 4);
    padding: 10px;
    border: 1px solid #ddd;
}

.table tbody td {
    padding: 10px;
    border: 1px solid #ddd;
}

.table tbody tr:hover {
    background-color: #4b4949af;
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    font-size: 14px;
    border: none;
    border-radius: 25px;
    text-decoration: none;
    cursor: pointer;
}

.btn-primary{
 color: #5d0202;
 background-color: rgb(247, 226, 152);
}

.btn-secondary{
    color: rgb(247, 226, 152);
    background-color: #5d0202;
   }

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4); /* Black with opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: center;
}
.modal-content h2{
    color:#5d0202;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.edit {
    width: 35px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s;
}

.edit :hover {
    transform: scale(1.2); /* Slight zoom effect on hover */

}

