body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: linear-gradient(#021024, #052659, #5483B3, #7DA0CA, #C1E8FF);
  color: white;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 20px;
  margin-top: 130px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 60px;
}

.column {
  flex: 1;
  max-width: 250px;
  margin: 5px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
}

.column:hover {
  transform: scale(1.10);
}

.box-content {
  background-color: white;
  padding: 40px;
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: black;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.box-content:hover {
  background-color: #56534cc4;
  color: aliceblue;
}

.box-content img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  max-height: 150px;
  object-fit: cover;
}
